.footer {
  background-color: var(--background-black-overlay);
  box-shadow: var(--box-shadow);
  font-size: var(--secondary-font-size);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  .footer__social {
    display: flex;
    justify-content: center;

    & svg {
      height: 2.8125rem;
      width: 2.8125rem;
      margin: 0.2rem;
      border: 1px solid var(--primary-color);
      transition: transform 0.2s;
    }

    .footer__social--github {
      &:hover {
        filter: invert(100%);
        background-color: #000;
        transform: translateY(-10%);
      }
    }

    .footer__social--linkedin {
      &:hover {
        background-color: #006599;
        transform: translateY(-10%);
      }
    }
    .footer__social--facebook {
      &:hover {
        background-color: #3c5a98;
        transform: translateY(-10%);
      }
    }
    .footer__social--twitter {
      &:hover {
        background-color: #2daae4;
        transform: translateY(-10%);
      }
    }
    .footer__social--youtube {
      &:hover {
        background-color: #bf2e25;
        transform: translateY(-10%);
      }
    }
  }
}
